{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
{% block content %}
    <html lang="en">

    <body>
    <!-- wrapper page -->
    <div class="wrapper">
        <!-- main-header -->
        <header class="main-header">


            <!-- main navbar -->

            <!-- mobile navbar -->

            <div class="container">
                <div class="text-center logo"><h1 style="color: white; font-size: 40px;"> Post a Job </h1></div>
            </div>

        </header><!-- end main-header -->


        <!-- body-content -->
        <div class="body-content clearfix">

            <div class="bg-color1 block-section line-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            <!-- form post a job -->


                                <form method="post" class="form">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    {% buttons %}
                                        <button type="submit" class="btn btn-primary">
                                            {% bootstrap_icon "star" %} Submit
                                        </button>
                                    {% endbuttons %}
                                </form>


                        </div>
                    </div>
                </div>
            </div>
        </div><!--end body-content -->
        <!-- main-footer -->
    </div><!-- end wrapper page -->

    </body>
    </html>

{% endblock %}